/* style.css*/

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 250px 0px 250px;
    background-color: gray;
    
}

.links {
    display: flex;
    gap: 16px;
    
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    
}

ul {
    list-style-type: none;
}


.awesome {

    display: flex;
    flex-direction: column;
    justify-content: center;
}




.placeholder {
display: flex;

}

.one {
    display: flex;

}

.sign-up {
    display: flex;
    justify-content: center;
}

.two {
    display: flex;
    flex-direction: column;

}

.all-img {
    display: flex;
}

.three {
    display: flex;
    flex-direction: column;
}