/* style.css*/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 250px 0px 250px;
    background-color: #5a4629;
    
}

.logo {
    color: wheat;
    
}

.links {
    display: flex;
    gap: 32px;
    
}

a {
    color:wheat;
    text-decoration: none;



}

.summary {
    color: wheat;
}

h1 {
    color: wheat;
}
    


ul {
    list-style-type: none;
}


.one {
    display: flex;
    justify-content: space-evenly;
    padding: 100px ;
    background-color:#5a4629;
    
     
}

.awesome {

    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: auto;
    
    
}




.main-rat img {
 display: flex;
 align-items: center;
 width: 400px;
 height: auto;
 border: 3px;
 border-radius: 16px;
 background: wheat;
 margin: auto;
 padding: 5px;
}
 
 
  










button {
    border-radius: 8px;
    padding: 8px 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background-color: wheat;
    font-weight: 500;
    border: none;
    font-size: 12px;
   

}

.two {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 100px 0px 100px 0px;
    
}


.all-img {
    display: flex;
    justify-content: space-evenly;
    
}

.img-one img {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 3px;
    border-radius: 16px;
    background: #5a4629;
    margin: auto;
    padding: 5px;
}   

.img-two img {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 3px;
    border-radius: 16px;
    background: wheat;
    margin: auto;
    padding: 5px;
    
}

.img-three img {
    display: flex;
    width: 150px;
    height: 150px;
    border: 3px;
    border-radius: 16px;
    background: wheat;
    margin: auto;
    padding: 5px;
}

.img-four img {
    display: flex;
    width: 150px;
    height: 150px;
    border: 3px;
    border-radius: 16px;
    background: #5a4629;
    margin: auto;
    padding: 5px;
}

p {
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.info {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.three {
    display: flex;
    flex-direction: column;
    background-color: #5a4629;    
}

.quote {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: wheat;
}

.quote-name {
    display: flex;
    justify-content: end;
    margin:0px 541px 50px 0px;
    color: white;
    
}
.four {
    display: flex;
    flex-direction: c;
    margin: 50px 600px 50px 600px ;
    justify-content: space-evenly;
    align-items: center;
}



.sign-up {
    display: flex;
    height: max-content;
    

    
}



.footer {

    display: flex;
    justify-content: center;
    background-color: #5a4629;
    padding: 20px;
    
}
.foot {
    color: wheat;
}